* {
  box-sizing: border-box;
}
body{
  background-color: aquamarine;
}
.container {
  display: flex;
  height: 100vh;
  width: 95%;
}
.quotes{
  border:10px solid black;
  width:900px;
  height:450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  color:gray;
  background-color: hotpink;
}
.quotes p,.quotes h3{
  font-size: 1.5rem;
}
@media(max-width:480px){
  .quotes p,.quotes h3{
    font-size: 1rem;
  }
}